footer {
	background: lighten($sideNavBg, 10);
	display: flex;
	color: whitesmoke;
	padding-bottom: $gutter * 5;
	flex-wrap: wrap;

	.footLeft,
	.footRight {
		display: block;
		padding: $gutter * 2;
	}

	.footLeft {
		text-align: left;
		width: 40%;
		p {
			padding: $gutter 0;
		}
		h2 {
			word-break: break-all;
		}
		@media screen and (max-width: 670px) {
			width: 100%;
		}
	}
	.footRight {
		padding: $gutter;
		width: 60%;
		@media screen and (max-width: 670px) {
			margin-top: -$gutter * 3;
			width: 100%;
		}
	}

	.contactForm {
		fieldset {
			display: flex;
			border: none;
			flex-wrap: wrap;
			width: 100%;
			& > * {
				flex: 1;
			}
		}
		#contact_fname {
			margin-right: 0;
			@media screen and (max-width: 670px) {
				margin-right: $gutter;
				flex-basis: 100%;
			}
		}

		#contact_sname {
			margin-left: 0;
			@media screen and (max-width: 670px) {
				margin-left: $gutter;
				flex-basis: 100%;
			}
		}

		input,
		textarea {
			margin: $gutter;
			height: 2rem;
			margin-bottom: 0;

			background: lighten($sideNavBg, 15);
			border: none;
			border-radius: 5px;
			padding: $gutter / 2;
			width: 95%;
			color: whitesmoke;
			transition: border-color 300ms;
			&:-ms-input-placeholder {
				// IEEEEEEEEEEEEEE
				color: #EAF5F0;
				opacity: 1 !important;
			}
			&::placeholder {
				color: #D0E2DF;
				opacity: 1 !important;
			}

			&:focus {
				outline: none;
				border: 1px solid $accentColor;
			}
		}
		textarea {
			height: 10rem;
		}
		#submitButton {
			display: block;
			flex: 1;
			width: auto;
			height: auto;
			padding: $gutter;
			background: none;
			border: $accentColor 3px solid;
			color: $accentColor;
			font-weight: bold;
			font-size: 1.5rem;
			transition: background-color 200ms, border-color 200ms, color 200ms;
			&:hover {
				background: $accentColor;
				border: whitesmoke 3px solid;
				color: whitesmoke;
				cursor: pointer;
			}
		}
		.inputError {
			border: 1px solid red;
		}
	}

	.backToTopButton {
		position: absolute;
		bottom: $gutter;
		left: 50%;
		transform: translateX(-50%);
		animation-name: scrollDownBounce;
		animation-duration: 1s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		a {
			color: $accentColor;
			text-decoration: none;
		}
	}
}

@keyframes scrollUpBounce {
	0% {
		bottom: 1rem;
	}

	100% {
		bottom: 2rem;
	}
}
